<% include header%>
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Welcome to my node-chat prototype</h1>
    </div>
</div>
<div class="container" style="display: table; margin-top: 10%">
    <div class="row" style="display: table-cell; vertical-align: middle;">
        <div class="text-center col-md-4 col-md-offset-4">
            <form id="userForm" method="post">
                <div class="form-group">
                    <label for="userName">Enter Username:</label>
                    <input class="form-control" id="userName" name="userName">
                    <br/>
                    <input type="submit" class="btn btn-primary" value="Enter"/>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footer%>



